li.choice{
    cursor: pointer;
}

#choice-section{
    list-style: none;
}

.letter-block > input {
    width: 50px;
    height: 50px;
    padding:10px;
    font-size: 20px
}

.word-correction{
    font-size: 18px;
    font-weight: bold;
}

.wrong-answer{
    color: red;
}

.correct-answer{
    color: green;
}

.word-result{
    font-size: 26px;
    font-weight: bold;
}